/* GOOGLE FONT STYLE FEEL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #580ad5, #0c011b);
    min-height: 100vh;
    color: white;
    animation: fadeIn 0.8s ease-in;
}

/* PAGE FADE IN */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

header h2 {
    font-weight: 600;
    font-size: 30px;

}
.h1{
    font-size: 200px;

}
nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
    font-size:20px;
}

nav a:hover {
    color: #ffe600;
}

/* SECTION */
section {
    padding: 80px 20px;
    text-align: center;
    h1{
        color: #ffe600;
        font-size: 45px;
    }
    h3{
        font-size: 25px;

    }
    h4{
        font-size: 20px;
        color: bisque;
    }
    img{
        border-radius: 20px;
        border: 5px solid hsl(265, 93%, 5%);
    }
}

/* CARD STYLE (DOUBLE SHADOW) */
.project-card, section {
    background: rgba(255,255,255,0.1);
    margin: 30px auto;
    padding: 40px;
    width: 80%;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow:
        8px 8px 20px rgba(0,0,0,0.4),
        -8px -8px 20px rgba(255,255,255,0.1);
    transition: 0.4s;
}

.project-card:hover {
    transform: translateY(-8px);
}

/* BUTTONS */
button {
    padding: 12px 25px;
    margin: 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    background: linear-gradient(45deg, #ffe600, #ff9100);
    color: black;
    transition: all 0.4s ease;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

/* LINKS */
a {
    color: #ffe600;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: white;
}
.home-image {
    flex: 1;
    text-align: center;
    min-width: 300px;
}

.home-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:
        0 10px 25px rgba(0,0,0,0.6),
        0 0 40px rgba(255,255,255,0.2);
    transition: 0.4s;
}

.home-image img:hover {
    transform: scale(1.08);
}
/* RESPONSIVE */
@media(max-width:768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    section {
        width: 95%;
    }
}
